* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.d-flex button {
    color: #fff !important;
    font-weight: 600;
    float: right;


}

.fa-bars {
    color: white;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/*-------------------------bannner -----------------------------*/

#banner {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: white;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.bottom-img {
    width: 100%;
}

/*-------------------------------services-------------------------------------*/
.services {
    text-align: center;
}

.service-img {
    max-width: 100%;
}

/* Add any additional styling you may need */

.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #a517ba;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translatey(63px);
}

.title::after {
    content: '';
    background: #a517ba;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translatey(8px);
}

.container {
    text-align: center;
  }
  
  .btn-primary {
    margin-top: 20px; /* Adjust the top margin as needed */
    box-shadow: #cc1b1b;
    padding: 8px 25px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
  }
  
/*---------------------------------Comment--------------------------------------*/

#about-us {
    background-color: grey;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.about-us ul {
    text-align: justify;
  }
  
  .about-us ul li {
    display: left;
    margin: 10px 0;
  }

  /* ----------------------------- testimonial ---------------------------------------------*/

  #testimonials {
    margin: 100px 0;
  }

  .testimonials {
    border-left: 4px solid red;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .user-name {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
  }

  /*----------------------------social----------------------------*/

  #social {
    background: #f8f9fa;
    padding: 100px 0;
  }

  #social p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;

  }

  .social-icon img {
    width: 60px;
    transition: 0.5s;
  }

  .social-icon a :hover img {
    transition: translatey -10px;
  } 

  /*---------------------------footer---------------------------------*/

  #footer {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
  }

  .footer-box {
    padding: 20px;
  }
  .footer-box img {
    margin-bottom: 20px;
  }
  
  .container p {
    text-align: left;
  }

  .footer-box:nth-child(3) {
    text-align: center;
  }
  
  .form-center {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
  